* {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    scroll-snap-type: y mandatory;
    overflow: auto;
}

nav {
    display: flex;
    text-align: center;
    justify-content: center;
}

ul {
    text-align: center;
    list-style-type: none;
}

li {
    font-size: 20px;
}

a {
    padding-left: 15px;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.text-cor {
    color: #87E428;
}

.text-azul {
    color: #7BE7F2;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.ulabout {
    margin: 0 auto;
    font-size: 24px;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
    justify-content: center;
}

.project {
    background-color: #ed8936;
    background-size: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    height: 420px;
    border: none;
}

.card-body {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-container {
    margin-top: auto;
}

.eu {
    width: 400px;
    height: 500px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.top {
    margin-bottom: 150px;
}

.corbutton {
    background-color: #7BE7F2;
    color: white;
    font-style: bolder;
}

.principalcontainer {
    position: relative;
    width: 83%;
    height: 175px;
    margin: 7% auto;
    outline: hidden;
}

.principal h1 {
    font-size: 45px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    height: 50%;
    font-size: 60px;
    font-style: bolder;
}

.section {
    scroll-snap-align: start;
    height: 100vh;
    padding: 1rem;
    margin: 0 auto;
    color: white;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.section-1 {
    animation: none;
    background-image: url(imagens/imagem1.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-2 {
    background: linear-gradient(to bottom right, #0A1817 50% , #0A1817 50%);
}

.section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom left, #0A1817 50%, #0A1817 50%);
}

.section-3 h1 {
}

.section-4 {
    background: linear-gradient(to bottom right, #0A1817 50%, #0A1817 50%);
}

.section-4 a {
    color: white;
}

.section-4 u {
    color: #7BE7F2;
}

.section-5 {
    background: linear-gradient(to bottom left, #0A1817 50%, #0A1817 50%);
    position: relative;
    padding: 2rem 1rem;
    overflow: hidden;
    height: 100vh;
    max-height: 30%;
}

.section-5 h1 {
    padding: 1rem;
    font-size: 3rem;
}

.section-5 h2 {
    color: #7BE7F2;
}

section h1.t1:after {
    position: absolute;
    content: "";
    line-height: 48px;
    left: 20%;
    top: 50%;
    animation: welcome 7.5s linear 1;
    animation-fill-mode: forwards;
}

section h1.t2:after {
    position: absolute;
    content: "";
    line-height: 48px;
    left: 20%;
    top: 90%;
    animation: bemvindo 7.5s linear 1;
    animation-fill-mode: forwards;
}

@media (max-width: 380px){
    .section-3 li{
        font-size: 5px;
    }
    .section-4 p{
        font-size: 20px;
    }
    .card {
        height: 580px;
    }
}

@media (max-width: 390px) {
    .card {
        height: 500px;
    }
    .section-3 li{
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    li {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .section-5 {
        height: 100%;
        
    }

    .section-5 h1 {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .card {
        height: 560px;
    }
}

@media (max-width: 1000px) {

    .section-5 h1 {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .card {
        height: 560px;
    }
}

@media (max-width: 1200px) {

    .section-5 h1 {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .card {
        height: 760px;
    }
}

@keyframes welcome {
    0% {
        content: "W";
    }

    5% {
        content: "WE";
    }

    11% {
        content: "WEL";
    }

    16% {
        content: "WELC";
    }

    22% {
        content: "WELCO";
    }

    27% {
        content: "WELCOM";
    }

    33% {
        content: "WELCOME ";
    }

    38% {
        content: "WELCOME T";
    }

    44% {
        content: "WELCOME TO ";
    }

    49% {
        content: "WELCOME TO M";
    }

    55% {
        content: "WELCOME TO MY ";
    }

    60% {
        content: "WELCOME TO MY P";
    }

    66% {
        content: "WELCOME TO MY PO";
    }

    71% {
        content: "WELCOME TO MY POR";
    }

    76% {
        content: "WELCOME TO MY PORT";
    }

    82% {
        content: "WELCOME TO MY PORTF";
    }

    87% {
        content: "WELCOME TO MY PORTFO";
    }

    93% {
        content: "WELCOME TO MY PORTFOLI";
    }

    100% {
        content: "WELCOME TO MY PORTFOLIO!";
    }
}

@keyframes bemvindo {
    0% {
        content: "B";
    }

    4% {
        content: "BE";
    }

    8% {
        content: "BEM";
    }

    12% {
        content: "BEM-";
    }

    16% {
        content: "BEM-V";
    }

    20% {
        content: "BEM-VI";
    }

    24% {
        content: "BEM-VIN";
    }

    28% {
        content: "BEM-VIND";
    }

    32% {
        content: "BEM-VINDO";
    }

    36% {
        content: "BEM-VINDOS";
    }

    40% {
        content: "BEM-VINDOS A";
    }

    44% {
        content: "BEM-VINDOS AO ";
    }

    48% {
        content: "BEM-VINDOS AO M";
    }

    52% {
        content: "BEM-VINDOS AO ME";
    }

    56% {
        content: "BEM-VINDOS AO MEU ";
    }

    60% {
        content: "BEM-VINDOS AO MEU P";
    }

    64% {
        content: "BEM-VINDOS AO MEU PO";
    }

    68% {
        content: "BEM-VINDOS AO MEU POR";
    }

    72% {
        content: "BEM-VINDOS AO MEU PORT";
    }

    76% {
        content: "BEM-VINDOS AO MEU PORTI";
    }

    80% {
        content: "BEM-VINDOS AO MEU PORTIF";
    }

    84% {
        content: "BEM-VINDOS AO MEU PORTIFÓ";
    }

    88% {
        content: "BEM-VINDOS AO MEU PORTIFÓL";
    }

    92% {
        content: "BEM-VINDOS AO MEU PORTIFÓLI";
    }

    96% {
        content: "BEM-VINDOS AO MEU PORTIFÓLIO";
    }

    100% {
        content: "BEM-VINDOS AO MEU PORTIFÓLIO!";
    }
}